.issueContainer .issue-year ul {
  padding-left: 5px;
  list-style-type: none;
  margin-bottom: 0;
}
.issueContainer .issue-year ul > li:before {
  content: '-';
  margin: 0 5px;
}
.issueContainer .issue-year .menu-trigger {
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: -5px;
  cursor: pointer;
}
.issueContainer .issue-year .menu-trigger .material-icons {
  margin: 0;
  line-height: 0.6;
  transform: rotate(-90deg);
  transition: 0.5s transform;
}
.issueContainer .issue-year .is-open .menu-trigger .material-icons {
  transform: rotate(0deg);
}
.issueContainer .issue-year .menu-trigger h3 {
  margin: 0;
  font-size: 1.15em;
}
.issueContainer .issue-year {
  margin-bottom: 16px;
}
