form.search {
  display: flex;
}

form.search .input {
  flex-grow: 1;
  margin-right: 5px;
}

form.search input,
form.search button {
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 1px;
  border: 2px solid var(--outline-color);
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
}

form.search input[type='text'] {
  padding: 6px;
}

form.search button {
  padding: 1.5px 10px;
}

form.search button .material-icons {
  margin-top: 6.4px;
  line-height: 0.5;
}

form.search button:active {
  background: var(--active-background-color);
}

form.search input:focus,
form.search button:focus {
  border: 2px solid var(--focus-color);
  outline: none;
}
form.search input:focus {
  background: var(--active-background-color);
}
