.searchResults .tutorials,
.searchResults .updates {
  padding: 0;
}

.updates li {
  list-style: none;
}

.updates .card-header {
  align-items: flex-start;
  flex-direction: column;
}

.updates .card-header p {
  margin-top: 0;
}

@media (min-width: 500px) {
  .searchResults {
    padding: 0 30px;
  }
}
