form.search {
  display: flex;
}

form.search .input {
  flex-grow: 1;
  margin-right: 5px;
}

form.search input {
  background: white;
  border-radius: 1px;
  border: 2px solid;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

form.search input[type="text"] {
  padding: 2px;
}

form.search input[type="button"]:active {
  background: #EEE;
}

form.search input:focus {
  border: 2px solid #666;
  outline: none;
}

.topPanel .search {
  margin-left:20px;
}