.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.List-view {
  font-size: large;
  padding: 0 30px;
}
