body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}
html,
body,
#root {
  height: 100%;
}

:root {
  --white-1: #ffffff;
  --white-2: #eeeeee;
  --lightgray-1: #dddddd;
  --lightgray-2: #cccccc;
  --darkgray-1: #999999;
  --darkgray-2: #666666;
  --darkgray-3: #555555;
  --darkgray-4: #444444;
  --black-1: #333333;
  --black-2: #222222;
  --black-3: #000000;

  --accent-1: #428bca;

  --background-color: var(--white-1);
  --text-color: var(--black-1);
  --header-background-color: var(--black-2);
  --header-text-color: var(--white-1);
  --link-text-color: var(--accent-1);
  --panel-border-color: var(--black-1);
  --top-panel-background-color: var(--lightgray-1);
  --active-background-color: var(--white-2);
  --outline-color: var(--black-3);
  --focus-color: var(--darkgray-2);
  --card-background-color: var(--white-2);
  --card-badge-color: var(--lightgray-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--black-1);
    --text-color: var(--white-1);
    --top-panel-background-color: var(--darkgray-3);
    --outline-color: var(--darkgray-1);
    --focus-color: var(--white-2);
    --card-background-color: var(--darkgray-4);
    --card-background-color: var(--darkgray-2);
  }
}
