.wrapper {
  height: 100%;
}

.header {
  background-color: var(--header-background-color);
  height: 50px;
  padding: 20px;
  color: var(--header-text-color);
  text-align: center;
}

.title {
  font-size: 1.5em;
}

.title a,
.title a:visited {
  color: var(--header-text-color);
}
