.horizPanels {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  height: calc(100% - 90px);
  margin: 0 auto;
}

.leftPanel {
  min-width: 250px;
  border-right: solid 1px var(--panel-border-color);
  padding: 0 10px;
}

.rightPanel {
  padding: 0 10px;
  height: 100%;
  overflow-y: auto;
}

.vertPanels {
  display: flex;
  flex-direction: column;
}

.topPanel {
  background-color: var(--top-panel-background-color);
  padding-bottom: 20px;
}

.bottomPanel {
  padding: 0 10px;
}

.topPanel .menu-trigger {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.topPanel .menu-trigger .material-icons {
  margin-right: 20px;
}

.nav h2 {
  font-size: 1.3em;
}

.topPanel h3 {
  margin: 0;
  margin-bottom: -2px;
  font-size: 1.3em;
  cursor: pointer;
}

.topPanel .nav {
  padding: 20px 10px 0;
}

.topPanel .nav h3,
.topPanel .nav h2 {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.rightPanel li,
.bottomPanel li {
  margin: 0.5em 0;
}

.leftPanel li,
.topPanel li {
  margin: 0.15em 0;
}
