.horizPanels {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.leftPanel {
  min-width: 250px;
  border-right: solid 1px grey;
  padding: 0 10px;
}

.rightPanel {
  padding: 0 10px;
}

.vertPanels {
  display: flex;
  flex-direction: column;
}

.topPanel {
  background-color: #dddddd;
  padding-bottom: 20px;
}

.bottomPanel {
  padding: 0 10px;
}

.topPanel h3 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.topPanel .nav {
  padding: 0 10px;
}

h3 .menu-icon {
  padding-top: 5px;
  padding-right: 10px;
}