form.search {
  display: flex;
  padding: 0 10px 10px;
}

form.search input {
  flex-grow: 1;
  margin-right: 5px;
  padding: 2px;
}

form.search input, form.search button {
  background: white;
  border-radius: 1px;
  border: 2px solid transparent;
  font-size: 16px;
}

form.search button:active {
  background: #EEE;
}

form.search input:focus, form.search button:focus {
  border: 2px solid #666;
  outline: none;
}
